html, body {
    height: 100%;

    /* Center and scale the image nicely */
    background-image: url("/images/MainBackgroundFinal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
