<div class="containerHTML containerSkills">
  <h2>2 years</h2>
</div>
<div class="containerCSS containerSkills">
  <h2>2 years</h2>
</div>
<div class="containerJS containerSkills">
  <h2>2 years</h2>
</div>
<!-- <div class="containerAngular containerSkills">
  <h1>AngularJS /</br>
  Angular 2</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerNode containerSkills">
  <h1>Node.js</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerGit containerSkills">
  <h1>Git</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerjQuery containerSkills">
  <h1>jQuery</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerES6 containerSkills">
  <h1>ES6</h1></br>
  <h2>2 years</h2>
</div>
<div class="containernoSQL containerSkills">
  <h1>noSQL</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerSQL containerSkills">
  <h1>SQL</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerJSON containerSkills">
  <h1>JSON</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerBootstrap containerSkills">
  <h1>Bootstrap 4</h1></br>
  <h2>2 years</h2>
</div> -->
