<section class="section parallax parallax-1">
  <div class="container">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2>This is my Profile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus id nunc ut gravida. Vestibulum ac...</p>
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
    <h2>“The computer programmer is a creator of universes for which he alone
       is the lawgiver. No playwright, no stage director, no emperor, however
        powerful, has ever exercised such absolute authority to arrange a stage
        or field of battle and to command such unswervingly dutiful actors or troops.”
    </h2>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2>Full Stack Web Developer</h2>
    <ul>
      <li>MEAN Stack</li>
      <li>LAMP Stack</li>
      <li>Npm, webpack, Git</li>
    </ul>
  </div>
</section>
<section class="section parallax parallax-3">
  <div class="container">
    <h2>Beautiful Arizona</h2>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2>Come visit sometime!</h2>
    <p>Arizona, the beautiful sonoran desert. Great night life, and many day activies. The fastest growing county in the USA.</p>
  </div>
</section>



<!--<div class="containerGit containerSkills">
  <h1>Git</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerjQuery containerSkills">
  <h1>jQuery</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerES6 containerSkills">
  <h1>ES6</h1></br>
  <h2>2 years</h2>
</div>
<div class="containernoSQL containerSkills">
  <h1>noSQL</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerSQL containerSkills">
  <h1>SQL</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerJSON containerSkills">
  <h1>JSON</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerBootstrap containerSkills">
  <h1>Bootstrap 4</h1></br>
  <h2>2 years</h2>
</div> -->
