<div class="containerHTML">
  <h1>HTML</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerE" height="75px" width="75px">
  <h2>My</h2></br>
  <h1>Experience</h1>
</div>
<div class="containerCSS">
  <h1>CSS</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerJS">
  <h1>JavaScript</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerAngular">
  <h1>AngularJS /</br>
  Angular 2</h1></br>
  <h2>2 years</h2>
</div>
<div class="containerNode">
  <h1>Node.js</h1></br>
  <h2>2 years</h2>
</div>
