<div class="carousel-wrapper">
  <div class="carousel">
    <img ngModel="Tcontroller.slide" class="carousel__photo initial" src="/images/img_1.jpg">
    <img ngModel="Tcontroller.slide" class="carousel__photo" src="/images/img_2.jpg">
    <img ngModel="Tcontroller.slide" class="carousel__photo" src="/images/img_3.jpg">
    <img ngModel="Tcontroller.slide" class="carousel__photo" src="/images/img_4.jpg">
    <img ngModel="Tcontroller.slide" class="carousel__photo" src="/images/img_5.jpg">

    <div class="carousel__button--next" ng-click="Tcontroller.nextSlide()"></div>
    <div class="carousel__button--prev" ng-click="Tcontroller.movePrev()"></div>
  </div>
</div>
